html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

app {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column; }

app > .spinner-wrapper {
  width: 100%;
  height: 80px; }

.top-row {
  height: 3.5rem;
  display: flex;
  align-items: center; }

.main {
  flex: 1;
  overflow: auto; }

.main .top-row {
  background-color: #e6e6e6;
  border-bottom: 1px solid #d6d5d5;
  z-index: 100; }

.sidebar {
  background-image: linear-gradient(180deg, #052767 0%, #3a0647 70%); }

.sidebar .top-row {
  background-color: rgba(0, 0, 0, 0.4); }

.sidebar .navbar-brand {
  font-size: 1.1rem; }

.sidebar .oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px; }

.nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem; }

.nav-item:first-of-type {
  padding-top: 1rem; }

.nav-item:last-of-type {
  padding-bottom: 1rem; }

.nav-item a {
  color: #d7d7d7;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem; }

.nav-item a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white; }

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white; }

.content {
  padding-top: 1.1rem; }

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1); }

@media (max-width: 767.98px) {
  .main .top-row {
    display: none; } }

@media (min-width: 768px) {
  app {
    flex-direction: row; }
  .sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0; }
  .main .top-row {
    position: sticky;
    top: 0; }
  .main > div {
    padding-left: 2rem;
    padding-right: 1.5rem; }
  .navbar-toggler {
    display: none; }
  .sidebar .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block; } }

.main .content {
  height: calc(100% - 52px); }

.traffic-page {
  height: 100%; }
  .traffic-page > .bing-maps {
    margin-top: 12px;
    float: left;
    width: 100%;
    height: calc(100% - 80px);
    max-height: 600px;
    max-width: 600px;
    position: relative; }

.directions-page > .directions-container {
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;
  width: 377px;
  overflow-x: auto; }
  .directions-page > .directions-container > .itineraryPanel {
    max-height: 400px;
    overflow: auto; }

.directions-page > .bing-maps {
  display: inline-block;
  margin-top: 12px;
  width: 100%;
  height: 600px;
  max-width: 600px;
  position: relative; }

@media screen and (max-width: 1276px) {
  .main .directions-page > .bing-maps {
    height: 300px; } }

.main .content {
  height: calc(100% - 52px); }

.pushpin-page {
  height: 100%; }
  .pushpin-page > .update-btn {
    display: block; }
  .pushpin-page > .bing-maps {
    margin-top: 12px;
    float: left;
    width: 100%;
    height: calc(100% - 80px);
    max-height: 600px;
    max-width: 600px;
    position: relative; }

