<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Formatting_IgnoreLinesStartingWith" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;string&gt;ReSharper disable &lt;/string&gt;
  &lt;string&gt;ReSharper enable &lt;/string&gt;
&lt;/ArrayOfString&gt;</value>
            </setting>
            <setting name="General_Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cleaning_IncludeXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludePHP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertEndOfFileTrailingNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_IncludeCSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RegionsInsertNewRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_IncludeVB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RemoveEndOfFileTrailingNewLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeTypeScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeJavaScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeSCSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeLESS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeFSharp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_IncludeR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_PrimaryOrderByAccessLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_IncludePowerShell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_BuildProgressToolWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_ReverseOrderByAccessLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveRegions" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Reorganizing_RegionsRemoveExistingRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Progressing_HideBuildProgressOnBuildStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_ShowProgressOnWindowsTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_ShowBuildProgressOnBuildStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_MemberTypeConstructors" serializeAs="String">
                <value>Constructors||5||Constructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeProperties" serializeAs="String">
                <value>Properties||2||Properties</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEnums" serializeAs="String">
                <value>Enums||7||Enums</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDestructors" serializeAs="String">
                <value>Destructors||6||Destructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDelegates" serializeAs="String">
                <value>Delegates||3||Delegates</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEvents" serializeAs="String">
                <value>Events||4||Events</value>
            </setting>
            <setting name="Reorganizing_MemberTypeInterfaces" serializeAs="String">
                <value>Interfaces||8||Interfaces</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>