.radio-group {

    &.-vertical {
        .radio-button {
            display: table;

            &:last-of-type {
                margin-bottom: initial;
            }
        }
    }

    &.-horizontal {
        .radio-button {
            margin-right: 8px;
            display: inline-table;

            &:last-of-type {
                margin-right: initial;
            }
        }
    }
}
