html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

app {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column; }

app > .spinner-wrapper {
  width: 100%;
  height: 80px; }

.top-row {
  height: 3.5rem;
  display: flex;
  align-items: center; }

.main {
  flex: 1;
  overflow: auto; }

.main .top-row {
  background-color: #e6e6e6;
  border-bottom: 1px solid #d6d5d5;
  z-index: 100; }

.sidebar {
  background-image: linear-gradient(180deg, #052767 0%, #3a0647 70%); }

.sidebar .top-row {
  background-color: rgba(0, 0, 0, 0.4); }

.sidebar .navbar-brand {
  font-size: 1.1rem; }

.sidebar .oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px; }

.nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem; }

.nav-item:first-of-type {
  padding-top: 1rem; }

.nav-item:last-of-type {
  padding-bottom: 1rem; }

.nav-item a {
  color: #d7d7d7;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem; }

.nav-item a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white; }

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white; }

.content {
  padding-top: 1.1rem; }

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1); }

@media (max-width: 767.98px) {
  .main .top-row {
    display: none; } }

@media (min-width: 768px) {
  app {
    flex-direction: row; }
  .sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0; }
  .main .top-row {
    position: sticky;
    top: 0; }
  .main > div {
    padding-left: 2rem;
    padding-right: 1.5rem; }
  .navbar-toggler {
    display: none; }
  .sidebar .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block; } }

.toggle-switch {
  margin-bottom: 14px; }

.dynamic-table,
.dynamic-grouped-table {
  margin-top: 12px;
  width: 60vw; }
  .dynamic-table .table,
  .dynamic-grouped-table .table {
    margin-bottom: 0;
    min-width: 570px; }
    .dynamic-table .table .table-header,
    .dynamic-grouped-table .table .table-header {
      background-color: lightgray; }
      .dynamic-table .table .table-header.forecast-date,
      .dynamic-grouped-table .table .table-header.forecast-date {
        font-weight: bold; }
    .dynamic-table .table .-l,
    .dynamic-grouped-table .table .-l {
      text-align: left; }
    .dynamic-table .table .-r,
    .dynamic-grouped-table .table .-r {
      text-align: right; }

.signalr .form-control {
  max-width: 400px; }
  .signalr .form-control:first-child {
    margin-bottom: 12px; }

.spinner-row {
  padding-bottom: 12px;
  border-bottom: 1px solid #a6a6a6;
  margin-bottom: 12px; }
  .spinner-row:last-of-type {
    border-bottom: none; }

.accordeon-container {
  max-width: 400px;
  margin: 24px 0; }

legend {
  width: auto;
  padding-left: 2px;
  padding-right: 2px; }

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 0.75em;
  padding-right: 0.75em;
  min-width: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial; }
  fieldset .radio-group {
    margin-bottom: 16px; }

.paged-grid {
  height: calc(100vh - 140px);
  min-width: 360px; }
  .paged-grid .movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-row-gap: 12px;
    grid-column-gap: 4px; }
    .paged-grid .movies > .movie-poster {
      justify-self: center; }

.new-item--input {
  height: inherit; }

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: #A1A1A1 0px 2px 10px; }

.download-list {
  width: 400px;
  background-color: red;
  transition: max-height .2s ease-in-out;
  max-height: 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: transparent; }
  .download-list .list-container {
    list-style: none;
    margin: 0;
    padding: 0; }
    .download-list .list-container > .list-item {
      height: 24px;
      margin-bottom: 8px;
      border-bottom: black 1px solid; }
      .download-list .list-container > .list-item > .item-description {
        width: 90%;
        margin-bottom: 0;
        margin-right: 4%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block; }
      .download-list .list-container > .list-item > .item-remove {
        width: 4%;
        cursor: pointer;
        vertical-align: super; }
      .download-list .list-container > .list-item:last-child {
        margin-bottom: 0; }
  .download-list.-show {
    max-height: 300px; }
  .download-list.-bottom-left {
    bottom: 1px;
    left: 24px; }
  .download-list.-bottom-right {
    bottom: 1px;
    right: 24px; }

.counter {
  display: inline-block; }

.movie-poster {
  height: 200px;
  width: 150px; }
  .movie-poster_card {
    width: 100%;
    height: 100%;
    position: relative; }
  .movie-poster_face {
    position: absolute;
    height: 100%;
    width: 100%; }
    .movie-poster_face .poster-image {
      height: 200px;
      width: 150px;
      display: none;
      background-color: white; }
      .movie-poster_face .poster-image.-loaded {
        display: block; }
      .movie-poster_face .poster-image.-no-poster {
        position: absolute; }
    .movie-poster_face > .title--overlay {
      position: absolute;
      text-align: center; }

.todo-list {
  padding: 8px 4px; }
  .todo-list ul {
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 12px;
    list-style: none; }
    .todo-list ul li:first-child .input-group-text {
      border-bottom-left-radius: 0; }
    .todo-list ul li:first-child .form-control {
      border-bottom-right-radius: 0; }
    .todo-list ul li:not(:first-child) .input-group-text,
    .todo-list ul li:not(:first-child) .form-control {
      border-top: none;
      border-radius: 0; }
    .todo-list ul li:last-child .input-group-text {
      border-bottom-left-radius: .25rem; }
    .todo-list ul li:last-child .form-control {
      border-bottom-right-radius: .25rem; }
    .todo-list ul li.mb-3 {
      margin-bottom: 0px !important; }

