@import "../../Shared/Styles/_mixins.scss";

$font-size: ( small: 0.75rem, medium: 1rem, large: 1.25rem );
$slider-height: ( small: 16px, medium: 22px, large: 26px );
$slider-width: ( small: 16px, medium: 22px, large: 26px );
$slider-left: ( small: 3px, medium: 3px, large: 4px );
$slider-bottom: ( small: 3px, medium: 3px, large: 4px );
$border-radius: ( small: 22px, medium: 20px, large: 26px );
$border-radius-before: ( small: 22px, medium: 20px, large: 26px );
$width: ( small: 38px, medium: 50px, large: 60px );
$height: ( small: 22px, medium: 28px, large: 34px );
$margin: ( small: 4px, medium: 6px, large: 8px );
$translate: ( small: 16px, medium: 22px, large: 26px );

@mixin toggle-size($size) {
    height: map-get($height, $size);

    &.-inline {
        margin-right: map-get($margin, $size);
    }

    .label {
        margin-right: map-get($margin, $size);
        font-size: map-get($font-size, $size);
    }

    .switch {
        width: map-get($width, $size);
        height: map-get($height, $size);

        > input {
            &:checked + .slider:before {
                @include intrinsic(transform, translateX(map-get($translate, $size)));
            }
        }

        .slider {
            &:before {
                height: map-get($slider-height, $size);
                width: map-get($slider-width, $size);
                left: map-get($slider-left, $size);
                bottom: map-get($slider-bottom, $size);
            }

            &.-round {
                border-radius: map-get($border-radius, $size);

                &:before {
                    border-radius: map-get($border-radius-before, $size);
                }
            }
        }
    }
}

.toggle-switch {
    display: flex;
    align-items: center;

    &.-inline {
        display: inline-flex;
    }

    .label {
        margin: 0;

        &.-fill {
            margin: 0 auto 0 0;
        }
    }

    .switch {
        position: relative;
        margin: 0;

        > input {
            display: none;

            &:checked + .slider {
                background-color: #2196F3;
            }

            &:focus + .slider {
                box-shadow: 0 0 1px #2196F3;
            }
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            @include intrinsic(transition, .4s);

            &:before {
                position: absolute;
                content: "";
                background-color: white;
                @include intrinsic(transition, .4s);
            }
        }
    }

    &.-small {
        @include toggle-size('small');
    }

    &.-medium {
        @include toggle-size('medium');
    }

    &.-large {
        @include toggle-size('large');
    }
}
