@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: #A1A1A1 0px 2px 10px; }

.accordeon > .accordeon-title {
  display: block;
  min-height: 48px; }
  .accordeon > .accordeon-title > .title {
    position: relative;
    top: 12px; }
  .accordeon > .accordeon-title.-center {
    text-align: center; }
  .accordeon > .accordeon-title:focus {
    outline: none;
    box-shadow: 0px 0px 4px 0px #2196f3; }

.accordeon > .accordeon-content {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden; }
  .accordeon > .accordeon-content .content-wrapper {
    padding: 8px 20px;
    border-top: 1px solid #A1A1A1; }
  .accordeon > .accordeon-content.-collapse {
    max-height: 0; }
  .accordeon > .accordeon-content.-expand {
    max-height: 3000px; }

.carousel {
  width: 100%; }

.dynamic-table > .table .-hidden {
  display: none; }

.dynamic-table > .table .table-header .fa {
  text-align: right; }

.dynamic-table > .spinner-wrapper {
  margin-top: 32px; }

.dynamic-table .-hidden,
.dynamic-grouped-table .-hidden {
  display: none; }

.dynamic-table .table,
.dynamic-grouped-table .table {
  table-layout: fixed;
  width: 100%; }
  .dynamic-table .table-header,
  .dynamic-grouped-table .table-header {
    margin-bottom: -2px; }
  .dynamic-table .table .table-row,
  .dynamic-grouped-table .table .table-row {
    transition: background-color .2s ease-in-out, font-weight .2s ease-in-out; }
    .dynamic-table .table .table-row:focus, .dynamic-table .table .table-row:hover,
    .dynamic-grouped-table .table .table-row:focus,
    .dynamic-grouped-table .table .table-row:hover {
      background-color: #acacac;
      font-weight: 600; }

.dynamic-table .group-header,
.dynamic-grouped-table .group-header {
  display: block;
  text-align: center;
  background-color: lightgray;
  padding: 16px 8px; }

.dynamic-table .group-content,
.dynamic-grouped-table .group-content {
  transition: max-height 0.25s ease-in-out;
  overflow: hidden;
  max-height: 200px; }
  .dynamic-table .group-content .table-cell:not(:last-of-type),
  .dynamic-grouped-table .group-content .table-cell:not(:last-of-type) {
    border-right: 1px solid #acacac; }

.dynamic-table .group.-collapse .group-content,
.dynamic-grouped-table .group.-collapse .group-content {
  max-height: 0; }

.paged-grid {
  overflow: auto; }

.pager {
  user-select: none; }
  .pager > .pagination > .page-item.-hidden {
    display: none; }

