.main .content {
    height: calc(100% - 52px);
}

.traffic-page {
    height: 100%;
    > .bing-maps {
        margin-top: 12px;
        float: left;
        width: 100%;
        height: calc(100% - 80px);
        max-height: 600px;
        max-width: 600px;
        position: relative;
    }
}
