.dynamic-grouped-table {
    margin-top: 12px;
    width: 60vw;

    .table {
        margin-bottom: 0;

        .table-header {
            background-color: lightgray;

            &.forecast-date {
                font-weight: bold;
            }
        }

        .-l {
            text-align: left;
        }

        .-r {
            text-align: right
        }
    }
}
