@inherits AccordeonBase

<div class="accordeon card">
    <div class="@($"accordeon-title{(CenterTitle ? " -center" : null)}")" onclick="@(() => Expanded = !Expanded)">
        <span class="title">@Title</span>
    </div>
    <div class="@($"accordeon-content{(Expanded ? " -expand" : " -collapse")}")">
        <div class="content-wrapper">
            @ChildContent
        </div>
    </div>
</div>