@inherits DownloadListBase
<div class="@($"download-list {FinalPosition} {(AvailableDownloads.Any() ? " -show" : null)}")">
    @if (AvailableDownloads.Any())
    {
        <Accordeon CenterTitle Title="available downloads">
            <ul class="list-container">
                @foreach (var download in AvailableDownloads)
                {
                    var d = download;
                    <li class="list-item">
                        <a href="@download.Url" class="item-description">@d.Description</a>
                        <i class="fas fa-times item-remove" onclick="@(() => RemoveDownloadFromList(d))"></i></li>
                }
            </ul>
        </Accordeon>
    }
</div>
