.movie-poster {
    height: 200px;
    width: 150px;

    &_card {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &_face {
        position: absolute;
        height: 100%;
        width: 100%;

        .poster-image {
            height: 200px;
            width: 150px;
            display: none;

            &.-loaded {
                display: block;
            }

            &.-no-poster {
                position: absolute;
            }
            background-color: white;
        }

        > .title--overlay {
            position: absolute;
            text-align: center;
        }
    }
}
