.checkbox {
    &.-disabled {
        opacity: .65;
    }

    &.-inline {
        display: inline-table;
    }

    &.size-1 {
        font-size: 0.75rem;
    }

    &.size-2 {
        font-size: 1rem;
    }

    &.size-3 {
        font-size: 1.25rem;
    }

    &.size-4 {
        font-size: 1.5rem;
    }

    &:focus + .checkbox-label {
        outline: -webkit-focus-ring-color auto 5px;
    }

    > .checkbox-label {
        cursor: default;
        margin-bottom: 4px;

        &::before {
            margin-right: 4px;
        }
    }
}
