.checkbox {
    &.-disabled {
        opacity: .65;
    }

    &.-inline {
        display: inline-table;
    }

    &.size-1 {
        font-size: 0.75rem;
    }

    &.size-2 {
        font-size: 1rem;
    }

    &.size-3 {
        font-size: 1.25rem;
    }

    &.size-4 {
        font-size: 1.5rem;
    }

    > .checkbox-input {
        input {
            display: none
        }
    }

    > .checkbox-label {
        cursor: default;
        margin: 0;
        padding: 0;
    }
}
