@page "/todo"
@inherits TodoBase

<h1 tabindex="0" aria-live="polite" aria-label=@HeaderA11l>Todo (@DoneItemsCount)</h1>

<TodoList id="firstList"
          Items="Items"
          OnItemsChanged=@StateHasChanged />
