.spinner-row {
    padding-bottom: 12px;
    border-bottom: 1px solid #a6a6a6;
    margin-bottom: 12px;
    &:last-of-type {
        border-bottom: none;
    }
}

.accordeon-container {
    max-width: 350px;
}
