@page "/"
@inherits IndexBase

<h1>Hello, world!</h1>

Welcome to your new app.

<BackgroundContent ParentBgColor="@ViewModel.ParentBgColor"
                   ChildBgColor="@ViewModel.ChildBgColor">
    <SurveyPrompt Title="How is Blazor working for you?" />

    <p onmouseover="@ViewModel.OnComponentHover" />
</BackgroundContent>