.carousel {
    padding: 0 48px;
    position: relative;

    > .container {
        overflow: hidden;
        width: 100%;
        padding: 0;

        &::after,
        &::before {
            content: "";
        }

        > .content {
            transform: translateX(-25%);

            &.-slide {
                left: -5px;
                pointer-events: none;
                transition: transform .3s ease-in-out;

                &.-left {
                    transform: translateX(0%);
                }

                &.-right {
                    transform: translateX(-50%);
                }
            }

            &::after,
            &::before {
                content: "";
            }

            width: 400%;
            height: 100%;

            > .next,
            > .prev,
            > .current {
                width: 25%;
                display: inline-block;
                overflow: hidden;
            }

            > .next,
            > .prev {
                pointer-events: none;
            }

            > .current {
                opacity: 1;
            }
        }
    }

    > .controls {
        > .next,
        > .prev {
            position: absolute;
            top: 210px;
            width: 40px;
            height: 40px;
            border: none;
            padding: 5px;
            background-color: darkolivegreen;
            color: darkslateblue;
            font-size: 1.5rem;

            &[disabled] {
                color: lightgray;
                background-color: darkgray;
            }
        }

        > .prev {
            left: 0;
        }

        > .next {
            right: 0;
        }
    }
}
