.toggle-switch {
    margin-bottom: 14px;
}

.dynamic-table,
.dynamic-grouped-table {
    margin-top: 12px;
    width: 60vw;
    
    .table {
        margin-bottom: 0;
        min-width: 570px;
        .table-header {
            background-color: lightgray;

            &.forecast-date {
                font-weight: bold;
            }
        }

        .-l {
            text-align: left;
        }

        .-r {
            text-align: right
        }
    }
}
