.dynamic-table,
.dynamic-grouped-table {
    .-hidden {
        display: none;
    }

    .table {
        table-layout: fixed;
        width: 100%;

        &-header {
            margin-bottom: -2px;
        }
    }

    .group {
        &-header {
            display: block;
            text-align: center;
            background-color: lightgray;
            padding: 16px 8px;
        }

        &-content {
            transition: max-height 0.25s ease-in-out;
            overflow: hidden;
            max-height: 200px;

            .table-row {
                transition: background-color .2s ease-in-out, font-weight .2s ease-in-out;

                &:hover {
                    background-color: #acacac;
                    font-weight: 600;
                }
            }

            .table-cell {
                &:not(:last-of-type) {
                    border-right: 1px solid #acacac;
                }
            }
        }

        &.-collapse {
            .group-content {
                max-height: 0;
            }
        }
    }
}
