.background-content {
    &.success {
        background-color: green;
    }

    &.error {
        background-color: red;
    }

    &.warning {
        background-color: orange;
    }

    .child--content {
        display: inline-block;
    }

    p {
        margin: 10px 0;
    }
}
