@using BlazorApp30.Extensions
@inherits BackgroundContentBase

<div id="@_id" class="background-content @(Type.ToString().ToLower())">
    <p>Below this is your content with backgoud color</p>
    <div class="child--content"
         style="background-color: @(ChildBgColor.ToRgbaString())">
        @ChildContent
    </div>

    <p>Above this is your content with backgoud color</p>
</div>