@using BlazorApp30.Extensions
@inherits BackgroundContentBase

<div class="background-content">
    <p>Below this is your content with backgoud color</p>

    <div 
        class="child--content"
        style="background-color: @BgColor.ToRgbaString()">
        @ChildContent
    </div>

    <p>Above this is your content with backgoud color</p>
</div>
