@inherits MainLayoutBase
@Store.Initialize()

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>
    @foreach (var name in GuestNames)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            Guest <strong>@name</strong> has arrived!
            <button type="button" class="close" aria-label="Close" onclick="@(() => GuestNames.Remove(name))">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="content px-4">
        @Body
    </div>

    <DownloadList AvailableDownloads="@AvailableDowloads"/>
</div>
