.accordeon {

    & > &-title {
        display: block;
        min-height: 48px;

        > .title {
            position: relative;
            top: 12px;
        }

        &.-center {
            text-align: center;
        }

        &:focus {
            outline: none;
            box-shadow: 0px 0px 4px 0px #2196f3;
        }
    }

    & > &-content {
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;

        .content-wrapper {
            padding: 8px 20px;
            border-top: 1px solid #A1A1A1;
        }

        &.-collapse {
            max-height: 0;
        }

        &.-expand {
            max-height: 3000px;
        }
    }
}
