@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: #A1A1A1 0px 2px 10px;
  padding: 12px, 16px; }

.accordeon > .accordeon-title {
  display: block;
  min-height: 48px; }
  .accordeon > .accordeon-title > .title {
    position: relative;
    top: 12px; }
  .accordeon > .accordeon-title.-center {
    text-align: center; }
  .accordeon > .accordeon-title:focus {
    outline: none;
    box-shadow: 0px 0px 4px 0px #2196f3; }

.accordeon > .accordeon-content {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden; }
  .accordeon > .accordeon-content .content-wrapper {
    padding: 8px 20px;
    border-top: 1px solid #A1A1A1; }
  .accordeon > .accordeon-content.-collapse {
    max-height: 0; }
  .accordeon > .accordeon-content.-expand {
    max-height: 3000px; }

.checkbox.-disabled {
  opacity: .65; }

.checkbox.-inline {
  display: inline-table; }

.checkbox.size-1 {
  font-size: 0.75rem; }

.checkbox.size-2 {
  font-size: 1rem; }

.checkbox.size-3 {
  font-size: 1.25rem; }

.checkbox.size-4 {
  font-size: 1.5rem; }

.checkbox:focus {
  outline: none; }
  .checkbox:focus > .checkbox-label {
    box-shadow: 0px 0px 4px 2px #2196f3; }

.checkbox > .checkbox-label {
  cursor: default;
  margin-bottom: 4px; }
  .checkbox > .checkbox-label::before {
    margin-right: 4px; }

.dynamic-table > .table .-hidden {
  display: none; }

.dynamic-table > .table .table-header .fa {
  text-align: right; }

.dynamic-table > .spinner-wrapper {
  margin-top: 32px; }

.dynamic-table .-hidden,
.dynamic-grouped-table .-hidden {
  display: none; }

.dynamic-table .table,
.dynamic-grouped-table .table {
  table-layout: fixed;
  width: 100%; }
  .dynamic-table .table-header,
  .dynamic-grouped-table .table-header {
    margin-bottom: -2px; }
  .dynamic-table .table .table-row,
  .dynamic-grouped-table .table .table-row {
    transition: background-color .2s ease-in-out, font-weight .2s ease-in-out; }
    .dynamic-table .table .table-row:focus, .dynamic-table .table .table-row:hover,
    .dynamic-grouped-table .table .table-row:focus,
    .dynamic-grouped-table .table .table-row:hover {
      background-color: #acacac;
      font-weight: 600; }

.dynamic-table .group-header,
.dynamic-grouped-table .group-header {
  display: block;
  text-align: center;
  background-color: lightgray;
  padding: 16px 8px; }

.dynamic-table .group-content,
.dynamic-grouped-table .group-content {
  transition: max-height 0.25s ease-in-out;
  overflow: hidden;
  max-height: 200px; }
  .dynamic-table .group-content .table-cell:not(:last-of-type),
  .dynamic-grouped-table .group-content .table-cell:not(:last-of-type) {
    border-right: 1px solid #acacac; }

.dynamic-table .group.-collapse .group-content,
.dynamic-grouped-table .group.-collapse .group-content {
  max-height: 0; }

.paged-grid {
  overflow: auto; }

.pager {
  user-select: none; }
  .pager > .pagination > .page-item.-hidden {
    display: none; }

.radio-group.-vertical .radio-button {
  display: table; }
  .radio-group.-vertical .radio-button:last-of-type {
    margin-bottom: initial; }

.radio-group.-horizontal .radio-button {
  margin-right: 8px;
  display: inline-table; }
  .radio-group.-horizontal .radio-button:last-of-type {
    margin-right: initial; }

.radio-group .radio-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 50px;
  min-width: 100px;
  margin-bottom: 8px;
  padding: 12px 8px;
  background-color: gainsboro;
  box-shadow: #A1A1A1 0px 0px 4px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, font-size .15s ease-in-out; }
  .radio-group .radio-button.-disabled {
    opacity: .65;
    cursor: default; }
  .radio-group .radio-button.-checked {
    font-size: .96rem;
    background-color: #CFCFCF;
    box-shadow: #A1A1A1 0px 0px 0px; }
  .radio-group .radio-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #9A9A9A; }
    .radio-group .radio-button:focus.-checked {
      box-shadow: #4C4C4C 0px 0px 0.2rem; }

.toggle-switch {
  display: flex;
  align-items: center; }
  .toggle-switch.-inline {
    display: inline-flex; }
  .toggle-switch .label {
    margin: 0; }
    .toggle-switch .label.-fill {
      margin: 0 auto 0 0; }
  .toggle-switch .switch {
    position: relative;
    margin: 0; }
    .toggle-switch .switch > input {
      display: none; }
      .toggle-switch .switch > input:checked + .slider {
        background-color: #2196F3; }
    .toggle-switch .switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: 0.4s; }
      .toggle-switch .switch .slider:focus {
        outline: none;
        box-shadow: 0px 0px 4px 2px #2196F3; }
      .toggle-switch .switch .slider:before {
        position: absolute;
        content: "";
        background-color: white;
        transition: 0.4s; }
  .toggle-switch.-small {
    height: 22px; }
    .toggle-switch.-small.-inline {
      margin-right: 4px; }
    .toggle-switch.-small .label {
      margin-right: 4px;
      font-size: 0.75rem; }
    .toggle-switch.-small .switch {
      width: 38px;
      height: 22px; }
      .toggle-switch.-small .switch > input:checked + .slider:before {
        transform: translateX(16px); }
      .toggle-switch.-small .switch .slider:before {
        height: 16px;
        width: 16px;
        left: 3px;
        bottom: 3px; }
      .toggle-switch.-small .switch .slider.-round {
        border-radius: 22px; }
        .toggle-switch.-small .switch .slider.-round:before {
          border-radius: 22px; }
  .toggle-switch.-medium {
    height: 28px; }
    .toggle-switch.-medium.-inline {
      margin-right: 6px; }
    .toggle-switch.-medium .label {
      margin-right: 6px;
      font-size: 1rem; }
    .toggle-switch.-medium .switch {
      width: 50px;
      height: 28px; }
      .toggle-switch.-medium .switch > input:checked + .slider:before {
        transform: translateX(22px); }
      .toggle-switch.-medium .switch .slider:before {
        height: 22px;
        width: 22px;
        left: 3px;
        bottom: 3px; }
      .toggle-switch.-medium .switch .slider.-round {
        border-radius: 20px; }
        .toggle-switch.-medium .switch .slider.-round:before {
          border-radius: 20px; }
  .toggle-switch.-large {
    height: 34px; }
    .toggle-switch.-large.-inline {
      margin-right: 8px; }
    .toggle-switch.-large .label {
      margin-right: 8px;
      font-size: 1.25rem; }
    .toggle-switch.-large .switch {
      width: 60px;
      height: 34px; }
      .toggle-switch.-large .switch > input:checked + .slider:before {
        transform: translateX(26px); }
      .toggle-switch.-large .switch .slider:before {
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px; }
      .toggle-switch.-large .switch .slider.-round {
        border-radius: 26px; }
        .toggle-switch.-large .switch .slider.-round:before {
          border-radius: 26px; }

@keyframes increase {
  from {
    left: -5%;
    width: 5%; }
  to {
    left: 130%;
    width: 100%; } }

.progressbar-wrapper {
  position: relative;
  width: 100%;
  height: 6px;
  overflow-x: hidden; }
  .progressbar-wrapper > .progressbar {
    position: absolute;
    opacity: 0.4;
    background: #f3f3f3;
    width: 150%;
    height: 6px; }
  .progressbar-wrapper > .subline {
    position: absolute;
    background: #4a8df8;
    height: 6px;
    border-radius: 50%; }
    .progressbar-wrapper > .subline.-inc {
      animation: increase 2s infinite; }

.spinner-wrapper.-extra_small .spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #f3f3f3;
  /* Light grey */
  border-top: 2px solid #3498db;
  /* Blue */ }

.spinner-wrapper.-extra_small.-centered {
  top: calc(50% - (20px / 2)); }

.spinner-wrapper.-small .spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #3498db;
  /* Blue */ }

.spinner-wrapper.-small.-centered {
  top: calc(50% - (40px / 2)); }

.spinner-wrapper.-medium .spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #f3f3f3;
  /* Light grey */
  border-top: 6px solid #3498db;
  /* Blue */ }

.spinner-wrapper.-medium.-centered {
  top: calc(50% - (60px / 2)); }

.spinner-wrapper.-large .spinner {
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #3498db;
  /* Blue */ }

.spinner-wrapper.-large.-centered {
  top: calc(50% - (80px / 2)); }

.spinner-wrapper.-centered {
  position: relative; }
  .spinner-wrapper.-centered > .spinner {
    margin: auto; }

.spinner-wrapper .spinner {
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #3498db;
  /* Blue */
  border-radius: 50%;
  display: none; }
  .spinner-wrapper .spinner.-active {
    animation: spin 1s linear infinite;
    display: block; }

.suggest-box {
  position: relative; }
  .suggest-box .sb-flyout {
    display: none;
    padding: 12px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    background-color: rgba(172, 172, 172, 0.85);
    width: 100%;
    position: absolute;
    top: 38px;
    border-color: #6c757d;
    border-left: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 200; }
    .suggest-box .sb-flyout > .suggestion-list {
      list-style: none;
      padding: 0;
      margin: 0; }
      .suggest-box .sb-flyout > .suggestion-list .suggestion-item {
        cursor: pointer; }
      .suggest-box .sb-flyout > .suggestion-list .sb-suggestion:last-of-type {
        margin-bottom: 0; }
      .suggest-box .sb-flyout > .suggestion-list > .sb-noresult {
        margin: 0 auto;
        text-align: center; }
  .suggest-box .sb-progress {
    position: absolute;
    right: 12px;
    top: 8px; }
  .suggest-box.-open > .sb-input .form-control {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .suggest-box.-open > .sb-input .sb-flyout {
    display: block; }

