@keyframes increase {
    from {
        left: -5%;
        width: 5%;
    }

    to {
        left: 130%;
        width: 100%;
    }
}

.progressbar-wrapper {
    position: relative;
    width: 100%;
    height: 6px;
    overflow-x: hidden;

    > .progressbar {
        position: absolute;
        opacity: 0.4;
        background: #f3f3f3;
        width: 150%;
        height: 6px;
    }

    > .subline {
        position: absolute;
        background: #4a8df8;
        height: 6px;
        border-radius: 50%;

        &.-inc {
            animation: increase 2s infinite;
        }
    }
}
