.sensors {
    &-ambientlight {
        margin-bottom: 24px;
    }

    &-geolocation {
        > .bing-maps {
            margin-top: 12px;
            float: left;
        }

        &-controls {
        }

        &-table {
            float: left;
            margin-top: 12px;
            margin-left: 12px;
        }
    }
}
