@inherits SurveyPromptBase

<div class="survey-prompt alert" role="alert">
    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
    <strong>@Title</strong>
    <span>
        Please take our <NavLink target="_blank" class="alert-link" href="https://go.microsoft.com/fwlink/?linkid=871783">brief survey</NavLink> and tell us what you think.
    </span>
</div>
